<?xml version="1.0"?>
<robot name="omnibot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find omni3wdbot_description)/urdf/omniwheel.urdf.xacro" />
  <xacro:include filename="$(find omni3wdbot_description)/urdf/omni3wdbot.ros2_control.xacro" />
  <xacro:include filename="$(find omni3wdbot_description)/urdf/inertia_calc.xacro" />

  <link name="base_link" />

  <joint name="body_joint" type="fixed">
    <parent link="base_link" />
    <child link="body_link" />
    <origin xyz="0 0 0.05" rpy="0 0 0" />
  </joint>
  <link name="body_link">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.075"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.02" radius="0.075"/>
      </geometry>
    </collision>
    <inertial>
      <xacro:cylinder_inertial mass="2.0" radius="0.075" length="0.02" ampvalue="1"/>
    </inertial>
  </link>
 
  <joint name="front_wheel_attach_joint" type="fixed">
    <parent link="base_link" />
    <child link="front_wheel_attach_link" />
    <origin xyz="${0.07*cos(radians(0))} ${0.07*sin(radians(0))} 0.019" rpy="0 0 ${radians(0)}" />
  </joint>
  <link name="front_wheel_attach_link" />
  <xacro:omni_wheel_set prefix="front_wheel" parent="front_wheel_attach_link" />

  <joint name="rear_left_wheel_attach_joint" type="fixed">
    <parent link="base_link" />
    <child link="rear_left_wheel_attach_link" />
    <origin xyz="${0.07*cos(radians(120))} ${0.07*sin(radians(120))} 0.019" rpy="0 0 ${radians(120)}" />
  </joint>
  <link name="rear_left_wheel_attach_link" />
  <xacro:omni_wheel_set prefix="rear_left_wheel" parent="rear_left_wheel_attach_link" />


  <joint name="rear_right_wheel_attach_joint" type="fixed">
    <parent link="base_link" />
    <child link="rear_right_wheel_attach_link" />
    <origin xyz="${0.07*cos(radians(240))} ${0.07*sin(radians(240))} 0.019" rpy="0 0 ${radians(240)}" />
  </joint>
  <link name="rear_right_wheel_attach_link" />
  <xacro:omni_wheel_set prefix="rear_right_wheel" parent="rear_right_wheel_attach_link" />


  <!-- IMU Link-->
  <!-- Can be modified with environment variables in /etc/ros/setup.bash -->
  <link name="imu_link" />
  <joint name="imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
  </joint>

   <!-- lidar -->
   <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.02" length="0.02" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.02" />
      </geometry>
    </collision>
  </link>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="lidar_link"/>
    <origin xyz="0.02 0 0.0625" rpy="0 0 0"/>
  </joint>

  <xacro:omni3wdbot_ros2_control name="omni3wdbot_control" use_mock_hardware="true" />

</robot>